<div class = "container">
  <div class = "row">
    <div class = "col">
      <h3 class = "text-info"> Edit permissions for the note: <%=@note.title %></h3>
      <div class = "row">
        <table class="table table-stripped" id="permissions-info-table">
          <thead>
            <tr>
              <th>Username</th>
              <th>Permissions</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr style="bg-color:red">
              <td class="text-danger"><%=User.find(@note.user_id).username%></td>
              <td class="text-danger"><%="owner".capitalize%></td>
              <td>
                <%= '<i class="fa fa-edit text-warning pr-3 disabled" style= "font-size: 22px;"></i>'.html_safe%>
              </td>

            </tr>
            <% @shared_notes.each do |note| %>

              <tr>
                <td class="text-info"><%=User.find(note.shared_user_id).username%></td>
                <td><%=note.permissions.capitalize%></td>
                <td>
                  <% if @user.id == note.shared_user_id %>
                    <%= '<i class="fa fa-edit text-warning pr-3 disabled" style= "font-size: 22px;"></i>'.html_safe%>
                  <% else %>
                    <%= link_to '<i class="fa fa-edit text-primary pr-3" style= "font-size: 22px;"></i>'.html_safe, change_permissions_user_notes_path(note_id: @note.id, user_id: note.shared_user_id, permission: note.permissions), remote: true, 'data-toggle': 'modal', 'data-target': "#change-permissions-modal"%>
                    <%= link_to '<i class="fa fa-trash text-danger pr-3" style= "font-size: 22px;"></i>'.html_safe, user_note_path(note.shared_user_id, @note.id, remove_user_note: true, permission: note.permissions), method: :delete, data: {confirm: "Are you sure, you want to remove '#{User.find(note.shared_user_id).username}' this note?"}, title: 'Remove User from Note', class: "text-danger" %>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </table>
      </div>
    </div>
    <br>
    <br>
    <div class = "row">
        <div class = "col-sm text-left">
          <a href= "<%= user_notes_path(@user.id) %>", class = "btn btn-success rounded-0">Back</a>
        </div>
      </div>
  </div>
  <div class = "row">
    <div id = "change-permissions-modal"></div>
    </div>
  </div>
  <script>
    $('#permissions-info-table').DataTable({

    });
    </script>
